n8n-Credentials-Retrieval.json
{
  "name": "n8n-Credentials-Retrieval",
  "nodes": [
    {
      "parameters": {
        "content": "## Main Workflow\n",
        "height": 420,
        "width": 1912,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        -1264
      ],
      "typeVersion": 1,
      "id": "5c29bcf0-c776-4786-afe1-64653310c390",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGoogle Sheets\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -1232
      ],
      "typeVersion": 1,
      "id": "b5a47ab0-704d-4444-b868-c13dafa08e67",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGitHub Account\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -624
      ],
      "typeVersion": 1,
      "id": "9dd55ad8-7200-4e02-b46a-f470c14232ec",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Credentials-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Credentials-Backup",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n-Credentials-Backup"
        },
        "filePath": "={{ $json.name }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1856,
        -656
      ],
      "id": "779cb17c-7253-40a4-9162-66bb09449dd2",
      "name": "Get a file",
      "webhookId": "2bfd5629-6f51-4dd2-9eaf-fedf451f17f6",
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Credentials-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Credentials-Backup",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n-Credentials-Backup"
        },
        "filePath": "/"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -2304,
        -656
      ],
      "id": "9d93b5cc-bf8e-496a-af9f-b7731a1f4820",
      "name": "List files",
      "webhookId": "4fbf6290-4079-42bb-a243-b7929617b1fc",
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e17041c-6273-4f10-a1ab-00df174d04a4",
              "leftValue": "={{ $json.path }}",
              "rightValue": ".json",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2080,
        -656
      ],
      "id": "2776f368-3aa2-4e0b-99cb-e771ca7fab2c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1632,
        -656
      ],
      "id": "e86a49c8-6815-4cc6-b202-4f257cce1bfb",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        -1088
      ],
      "id": "eaad27af-77c0-4bb9-bf66-133a46e54e1f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGitHub Account\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2336,
        -768
      ],
      "typeVersion": 1,
      "id": "89b0a523-4728-4a30-ae27-2f5046bd461f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nn8n API\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -768
      ],
      "typeVersion": 1,
      "id": "15ac86dc-3780-42a1-bbe5-0b3e38948d0c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "credential",
        "name": "={{ $json.data.name }}",
        "credentialTypeName": "={{ $json.data.type }}",
        "data": "={{ JSON.stringify($json.data.data) }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        384,
        -656
      ],
      "id": "e0d28f92-b84a-4946-8add-c3b5d61121a4",
      "name": "Create a credential",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "n8nApi": {
          "id": "rmz66QB1F2DsQvEu",
          "name": "n8n account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "command": "npx n8n export:credentials --all --decrypted"
      },
      "id": "5b794e62-5237-462d-9747-8d67647152fe",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -1664,
        -1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "d0f704bf-c82f-4f47-a52f-6d1de2fe7804",
      "name": "JSON formatting",
      "type": "n8n-nodes-base.code",
      "position": [
        -1440,
        -1088
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            },
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1216,
        -1088
      ],
      "id": "f4ab7424-abb5-4bb1-8a5b-2bba0e9d3ab7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.id"
            },
            {
              "fieldToAggregate": "data.name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1408,
        -656
      ],
      "id": "dec86247-eb97-4b4d-82d6-6f5b8484fc86",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -992,
        -1088
      ],
      "id": "ba0915d9-3cbf-4519-a5e8-484740c88e27",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1184,
        -656
      ],
      "id": "778c5075-b2ee-49ce-801f-81fc68379ea9",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g",
          "mode": "list",
          "cachedResultName": "Credentials",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID in n8n": "={{ $json.id }}",
            "ID on Github": "={{ $json.id }}"
          },
          "matchingColumns": [
            "ID in n8n"
          ],
          "schema": [
            {
              "id": "ID in n8n",
              "displayName": "ID in n8n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID on Github",
              "displayName": "ID on Github",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Match",
              "displayName": "Match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -960,
        -656
      ],
      "id": "204f1a8c-a0ea-42ad-8e0d-604059817661",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhAt2j9QvRbOZG2y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g",
          "mode": "list",
          "cachedResultName": "Credentials",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID in n8n": "={{ $json.id }}"
          },
          "matchingColumns": [
            "ID in n8n"
          ],
          "schema": [
            {
              "id": "ID in n8n",
              "displayName": "ID in n8n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID on Github",
              "displayName": "ID on Github",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Match",
              "displayName": "Match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        -1088
      ],
      "id": "bcd805e1-fd98-49f6-a820-c7839dc6fb53",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhAt2j9QvRbOZG2y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Credentials-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Credentials-Backup",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n-Credentials-Backup"
        },
        "filePath": "={{ $json.name }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -288,
        -752
      ],
      "id": "1fb63b9d-c466-4adc-b018-49909b9a7364",
      "name": "Get a file1",
      "webhookId": "2bfd5629-6f51-4dd2-9eaf-fedf451f17f6",
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Credentials-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Credentials-Backup",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n-Credentials-Backup"
        },
        "filePath": "/"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -736,
        -752
      ],
      "id": "16684f33-4496-4b51-84b2-73467cb94145",
      "name": "List files1",
      "webhookId": "4fbf6290-4079-42bb-a243-b7929617b1fc",
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e17041c-6273-4f10-a1ab-00df174d04a4",
              "leftValue": "={{ $json.path }}",
              "rightValue": ".json",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -512,
        -752
      ],
      "id": "c6a7421c-c253-4be6-b5cc-98ebd156484b",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -64,
        -752
      ],
      "id": "a0cadbfd-d58a-4359-b9e4-a7dcd336a60e",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g",
          "mode": "list",
          "cachedResultName": "Credentials",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1meHQ4Jb6NMjZEQN0qZg2SJExiXVMThWM365BW0xVC-g/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Match",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -560
      ],
      "id": "861564f2-9d52-439b-8b8b-fd9bf0c9fa3b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhAt2j9QvRbOZG2y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "ID on Github"
            }
          ]
        },
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        -656
      ],
      "id": "4057b5d0-7b8d-4394-a974-c698498525a7",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{$workflow.id}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -544,
        -1088
      ],
      "id": "54949b3c-dacf-4958-aabc-b37a24b7ed2b",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2528,
        -656
      ],
      "id": "b95a7f5c-14de-4a27-ace2-b316cb184762",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Sub WorkFlow\n",
        "height": 400,
        "width": 3264
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2640,
        -800
      ],
      "typeVersion": 1,
      "id": "f3776c38-6994-4652-99b6-709c36cfc184",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGitHub Account\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        -768
      ],
      "typeVersion": 1,
      "id": "ecdf6853-d3ec-456a-b297-f44ccbe14f92",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGoogle Sheets\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        -768
      ],
      "typeVersion": 1,
      "id": "ec8ab15c-c1b3-4f22-905c-4291d9ed43c7",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGoogle Sheets\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -560
      ],
      "typeVersion": 1,
      "id": "24bb5ea1-136c-4175-8f29-70267eb6ca4f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGitHub Account\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -640
      ],
      "typeVersion": 1,
      "id": "f0211582-8f36-458c-9562-4616a4a1c589",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a credential": {
      "main": [
        []
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "JSON formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "List files1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6126f905-a581-45d3-946e-e014b5af09e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a6d8d6fd4a6dbf58f8b439b2fe1c587f1c9acd714a5247e2864e55f481f576e"
  },
  "id": "IapxKTvsmmecXtkb",
  "tags": []
}