n8n-Credentials-Backup.json
{
  "name": "n8n-Credentials-Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -380,
        35
      ],
      "id": "a99128e9-02a6-4d8c-b4f1-ba1d7befe355",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        280,
        35
      ],
      "id": "7b68dd00-9f51-48e3-bd73-b2fbdf5e465e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-Credentials-Backup",
          "mode": "list",
          "cachedResultName": "n8n-Credentials-Backup",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n-Credentials-Backup"
        },
        "filePath": "={{ $('JSON formatting').item.json.name }}.json",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "commitMessage": "none"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        960,
        80
      ],
      "id": "51a059fd-6a6c-4760-9aa3-4ecf548dc960",
      "name": "Create a file",
      "webhookId": "ecf622c3-cce4-4a80-bcfb-97de06bf0f74",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Credentials_Backup",
          "mode": "list",
          "cachedResultName": "n8n_Credentials_Backup",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n_Credentials_Backup"
        },
        "filePath": "={{ $('JSON formatting').item.json.name }}.json",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "commitMessage": "none"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        740,
        -40
      ],
      "id": "cbe88435-7d00-4276-a56d-a25f94e53618",
      "name": "Edit a file",
      "webhookId": "f9428961-176a-4231-a062-1baa7c7cfed4",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        35
      ],
      "id": "379c8b47-3906-4eed-8f65-b6e180b2f608",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "command": "npx n8n export:credentials --all --decrypted"
      },
      "id": "bbbe75f8-1061-4805-b7aa-33c831163425",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -160,
        35
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "dbfbb9d5-91c4-478b-a861-3d9ea633fcce",
      "name": "JSON formatting",
      "type": "n8n-nodes-base.code",
      "position": [
        60,
        35
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Credentials Backup",
        "height": 400,
        "width": 1700,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -100
      ],
      "typeVersion": 1,
      "id": "be16dd0e-2aad-4a46-b924-7561434b9275",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGitHub Account\n(Make Sure it is a Private Repo.\n",
        "height": 140,
        "width": 190,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -80
      ],
      "typeVersion": 1,
      "id": "4a32c9e9-9dcc-4289-ba62-c3144679b73b",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "JSON formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2316a843-98c8-4661-8130-a2b8c4632a79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a6d8d6fd4a6dbf58f8b439b2fe1c587f1c9acd714a5247e2864e55f481f576e"
  },
  "id": "nx1SHzJcQpWWgk8j",
  "tags": []
}